.materials-page {
  .ant-card {
    min-height: calc(100vh - 120px);
  }

  .ant-statistic {
    .ant-statistic-title {
      font-size: 12px;
    }
    .ant-statistic-content {
      font-size: 20px;
    }
  }

  .ant-table {
    .ant-table-cell {
      font-size: 13px;
    }
  }

  .ant-drawer {
    .ant-timeline {
      padding: 20px 0;
      
      .ant-timeline-item {
        padding-bottom: 20px;
        
        &:last-child {
          padding-bottom: 0;
        }
        
        .ant-timeline-item-label {
          width: 140px;
          font-size: 12px;
        }
      }
    }
  }
}